/*général*/
body
{
    font-family: Arial, Helvetica, sans-serif;
}
h3
{
    color :black; 
    font-size: 2em;
    text-align: center;
}
h4
{
    font-size: 1.7em;
}


/*header*/
.flex
{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:flex-end;
}

header img
{
    width:150px ;
    
}
nav 
{
    margin-right: 90px;
}
nav a
{
    margin-right: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.bouton
{
    border-radius: 20px 20px;
    background-color: #2d96c8;
    height: 25px;
    width: 110px;
    border: none;
    color:white;
}
.white
{
    border-radius: 20px 20px;
    background-color: white;
    height: 25px;
    width: 110px;
    border: 1px #2d96c8 solid;
    margin-right: 10px;
    color:#2d96c8;
}

/* section image album*/
.téléphone 
{
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
h1
{
    font-size: 2em;
}
.téléphone p
{
 font-size: 1.8em;
 color:rgb(232, 91, 106);
 font-weight: bold;
}
.bouton-rose
{
    border-radius: 20px 20px;
    background-color: rgb(232, 91, 106);
    height: 40px;
    width: 160px;
    border: none;
    color:white;
    margin-right: 10px;
}
.bouton-blanc
{
    border-radius: 20px 20px;
    background-color: white;
    height: 40px;
    width: 160px;
    border: 1px black solid;
    color:black;
    margin-right: 10px;
}

/*section téléphone deezer c'est quoi*/
.phone
{
    height:400px;
}
.gris
{
    background: #f9f9f9 ;
    height: 500px;
}
.flex2
{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:center;
}
.gris div
{
    width: 300px;

}
.gris h3
{
    margin-top: 0px;
}
/* section rose =) */

.icone 
{
    width: 50px;
    padding-left: 40px;
    
}
.pink
{
    background: rgb(232, 91, 106);
}
.pink div p
{
    width: 600px;
    color:white
}
.pink div h3
{
    color: white;
    font-size: 2em;
}

/*section des différent compte deezer disponnible*/
.container div 
{
    width: 300px;
    height: 600px;
    background: #f9f9f9;
    border:1px #f9f9f9 solid;
    box-shadow: 3px 2px #f9f9f9 ;
    text-align: center;
}
.check
{
    list-style-image: url("icon/check.png");
}
.no
{
    list-style-image: url("icon/close.png");
    
}
ul li
{
    margin-top: 20px;
}
.price
{
    font-size: 1.6em;
}
ul + a
{
    text-align: center;
}
.bouton-gris
{
    border-radius: 20px 20px;
    background-color: rgb(95, 95, 95);
    height: 40px;
    width: 160px;
    border: none;
    color:white;
    margin-right: 10px;
}

/* section class info pour les compte de deezer */

.info
{
    width: 900px;
    text-align: center;
    margin: auto;
}

/* section promo abonnement deezer */

.bloc-horizon
{
    background:rgb(241, 239, 239);
    height: 105px;
    
}
h5
{
    padding-top: 25px;
    padding-left: 20px;
    
}
h5 + p 
{
    width: auto;
    margin: auto auto;
    padding-left: 20px;
    
}
.bouton-abonement
{
    margin-left: 51%;
    border-radius: 20px 20px;
    height: 30px;
    width: 160px;
    border: 2px black solid;
    color:black;
    

}
.bouton-abonement1
{
    margin-left: 40%;
    border-radius: 20px 20px;
    height: 30px;
    width: 160px;
    border: 2px black solid;
    color:black;
}
.savoir
{
    padding-left: 20px;
}
span
{
    color: rgb(232, 91, 106);
}

/*footer */
footer
{
    background: black;
}