/*général*/
body
{
    font-family: "Roboto" Arial, Helvetica, sans-serif;
}
h3
{
    color :black; 
    font-size: 2em;
    text-align: center;
}
h4
{
    font-size: 1.7em;
}


/*header*/
.flex
{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items:flex-end;
}
.menu
{
    display: none;
}

header + img
{
    width:150px ;
}
nav 
{
    margin-right: 90px;
}
nav a
{
    margin-right: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.bouton
{
    border-radius: 20px 20px;
    background-color: #2d96c8;
    height: 25px;
    width: 110px;
    border: none;
    color:white;
}
.white
{
    border-radius: 20px 20px;
    background-color: white;
    height: 25px;
    width: 110px;
    border: 1px #2d96c8 solid;
    margin-right: 10px;
    color:#2d96c8;
}

/* section image album*/
.téléphone 
{
    height: 300px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}
h1
{
    font-size: 2em;
}
.téléphone p
{
 font-size: 1.8em;
 color:rgb(232, 91, 106);
 font-weight: bold;
}
.bouton-rose
{
    border-radius: 20px 20px;
    background-color: rgb(232, 91, 106);
    height: 40px;
    width: 160px;
    border: none;
    color:white;
    margin-right: 10px;
}
.bouton-blanc
{
    border-radius: 20px 20px;
    background-color: white;
    height: 40px;
    width: 160px;
    border: 1px black solid;
    color:black;
    margin-right: 10px;
}

/*section téléphone deezer c'est quoi*/
.phone
{
    height:400px;
}
.gris
{
    background: #f9f9f9 ;
    height: 500px;
}
.flex2
{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items:center;
}
.gris div
{
    width: 300px;

}
.gris h3
{
    margin-top: 0px;
}
/* section rose =) */

.icone 
{
    width: 50px;
    padding-left: 40px;
}
.pink
{
    background: rgb(232, 91, 106);
}
.pink div p
{
    width: 600px;
    color:white
}
.pink div h3
{
    color: white;
    font-size: 2em;
}

/*section des différent compte deezer disponnible*/
.container div 
{
    width: 300px;
    height: 600px;
    background: #f9f9f9;
    border:1px #f9f9f9 solid;
    box-shadow: 2px 2px 10px  gray; ;
    text-align: center;
}
.flex3
{
    display:flex;
    justify-content: center;
}
.compte-deezer 
{
    margin-right: 20px;
    box-shadow: 2px 2px  gray;
}
.compte-deezer:nth-child(2)
{
    background:#2d96c8;
}
.check
{
    list-style-image: url("icon/check.png");
}
.no
{
    list-style-image: url("icon/close.png");
}
ul li
{
    margin-top: 20px;
}
.price
{
    font-size: 1.6em;
}
ul + a
{
    text-align: center;
}
.bouton-gris
{
    border-radius: 20px 20px;
    background-color: rgb(95, 95, 95);
    height: 40px;
    width: 160px;
    border: none;
    color:white;
    margin-right: 10px;
}

/* section class info pour les compte de deezer */
.section-info 
{
    margin-top:30px ;
    margin-bottom: 30px;
}
.info
{
    width: 900px;
    text-align: center;
    margin: auto;
}

/* section promo abonnement deezer */

.bloc-horizon
{
    background:rgb(241, 239, 239);
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-bottom:10px ;
    box-shadow: 1px 1px 2px gray ;
}
.div-horizon
{
    width: 481px;
    padding-bottom:20px;
}

h5
{
    padding-top: 25px;
    padding-left: 20px;
}
h5 + p 
{
    width: auto;
    margin: auto auto;
    padding-left: 20px;
}
.bouton-abonement
{
    border-radius: 20px 20px;
    height: 30px;
    width: 160px;
    border: 2px black solid;
    color:black;
    position:relative;
    left: 50%
}

.bouton-abonement1
{
    border-radius: 20px 20px;
    height: 30px;
    width: 160px;
    border: 2px black solid;
    color:black;
}
.savoir
{
    padding-left: 20px;
}
span
{
    color: rgb(232, 91, 106);
}

/*footer*/

footer
{
    background: black;
}
h6
{
    color: rgb(121, 119, 119);
    margin-left: 39px;
}
.foot
{
    margin-left: 20px;
    height: 270px;
    text-align: start;
}
footer  li
{
    color:rgb(182, 177, 177);
    list-style-type: none;
}

.play-et-store
{
    border: 1px white solid;
    border-radius: 5px 5px;
    width:100px ;
    height:28px ;
    margin-left: 10px;
}
.apple
{
    width:100px ;
    border: 1px white solid;
    border-radius: 5px 5px;
    margin-left: 40%;
    margin-top: 60px;
}
div + p 
{
    margin-left: 30%;
    width: 100px;
}
.flex4
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.logo-et-image img 
{
    width: 30px;
}
.logo-et-image2 img 
{
    width: 100px;
}
.deezer-fin
{
    color: rgb(121, 119, 119);
}
.span1
{
    color:rgb(182, 177, 177);
}
.foot-logo
{
    height: 20px;
    margin:auto auto;
}

/*media query*/
@media all and (min-width: 100px) and (max-width: 800px){

    /*header*/
    .flex
    {
        display:flex;
        justify-content:center;
    }
    nav 
    {
        display: none;
    }
    
    .menu
    {
        display:initial;
        margin-left: 30px;
    }
    nav 
    {
        margin-right: 0px;
    }
    /*section vos émotion mérite*/
    .téléphone 
    {
        height:auto;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
    }
    .query
    {
        text-align: center ;
    }
    /*section deezer c'est quoi avec le téléphone qui va disparaitre*/
    .gris /* cet classe englobe cet section*/
    {
        background: #f9f9f9 ;
        height: auto;
        flex-direction: column;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .phone
    {
        display: none;
        height:0px;
    }
    /*section a fond rose du site*/
    .flex2 /*classe qui englobe la section*/
    {
        display:flex;
        flex-direction: column-reverse;
        align-items:center;
    }
    /*section profitez de votre musique  et les compte deezer*/
    .container   /*classe qui englobe la section*/  
    {
        flex-direction: column; 
        align-items: center;
    } 
    .compte-deezer 
    {
        margin-top: 20px;
    }
    
    /*section info*/
    .info
    {
        width: auto;
        text-align: center;
        padding: auto;
    }
    .section-info
    {
            margin-top: 20px;

     }
    /* section abonement -25%*/
    
    .bloc-horizon
    { 
        flex-direction: column;
    }
    h5
    {
        text-align: center;  
        padding-top: 0px;
        padding-left: 0px;
    }
    h5+p 
    {
        display: none;
    }
  
    /*footer*/
    
    .flex2
    {
        display:flex;
        justify-content: space-between;
        flex-direction: column;
        align-items:flex-start;
    }   
    /* parti des logo du footer*/
    .flex4
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    
    .foot-logo
    {
        margin-top:10px;
        height: 20px;
        width: 20px;
    }
    
    

}

